
@model  admin.login.AdminLogin

@{
    ViewData["Title"] = "login Page";
}


<!DOCTYPE html>
<html>
<body>
    <div>
        @using(Html.BeginForm("Login","Account", FormMethod.Post))
        {
            @Html.ValidationSummary()

            @Html.HiddenFor(admin => admin.RoutedUrl)
            
            @await Html.PartialAsync("PartialLogin")
            
            <div>@ViewBag.Msg</div>
            
            <button type="submit" class="btn-primary">login</button>
        }
    </div>

</body>
</html>