
@model  admin.login.AdminLogin

@{
    ViewData["Title"] = "categories Page";
}


<!DOCTYPE html>
<html>
<body>
    <div>
        @using(Html.BeginForm("Create","Admin", FormMethod.Post))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>username</label>
                @Html.TextBoxFor(admin=>admin.UserName, new { @class="form-control", Placeholder=@Model.UserName})
            </div>
            <div class="form-group">
                <label>password</label>
                @Html.PasswordFor(admin=>admin.Password, new { @class="form-control", Placeholder=@Model.Password})
            </div>
            
            @if(Model.ErrorMsg != "")
            {
                <div>@Model.ErrorMsg</div>
            }
            
            <button type="submit" class="btn-primary">login</button>
        }
    </div>

</body>
</html>